# Google Analytics Measurement ID (e.g. G-XXXXXXXXXX | empty)
PUBLIC_GA_ID=

# Google Analytics debug mode (true | false)
PUBLIC_GA_DEBUG_MODE=

# Path for subdirectory deployments (e.g. /preview/pr-123 | empty)
BASE_PATH=

# Origin for prerendering (e.g. https://pqb.org.pl)
ORIGIN=
