@import 'tailwindcss';

@theme {
  --color-primary: #003e76;
  --color-primary-dark: #002f59;
  --color-primary-deeper: #001f3b;
  --color-primary-light: #d9e0ef;
  --color-accent: #ed1c25;
  --color-accent-dark: #c51820;
}
